<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <link rel="icon" href="/img/logo.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/form-validator.js"></script>
    <script src="https://kit.fontawesome.com/7e6ab4004f.js" crossorigin="anonymous"></script>

    <!-- TITLE -->
    <title>PawsForUs - Edit Pet</title>

</head>

<body>
    <div class="container-fluid body-container d-flex flex-column justify-content-start align-items-left py-4">
        <div class="p-4 text-left d-flex justify-content-between align-items-center">
            <h1 class="header-gradient"><a href="/profile"><i class="fa-solid fa-angle-left"></i></a></h1>
            <h1 class="header-gradient pt-2">Edit Pet Profile</h1>
        </div>
        <div class="px-4 pt-2 pb-5 mb-5 overflow-auto">
            <form class="needs-validation" method="POST" novalidate>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" value="{{inputs.name}}"required>
                </div>
                <div class="form-group">
                    <label for="description">About Me</label>
                    <textarea class="form-control" id="description" name="description" rows="3" required>{{inputs.description}}</textarea>
                </div>
                <div class="form-group">
                    <label for="birthdate">Birthdate</label>
                    <input type="date" class="form-control" id="birthdate" name="birthdate" value="{{dateFormat inputs.birthdate "YYYY-MM-DD"}}" required>
                     <p style="color: red; font-size: 13px">
                        {{errors.birthdate.msg}}
                    </p>
                </div>
                <div class="form-group">
                    <label for="pet_type">Pet Type</label>
                     <select class="form-control" id="pet_type" name="pet_type" onchange="showTypeOthers(this)"  required>
                        <option value="" selected>Select pet type...</option>
                        <option value="Dog" {{select "Dog" inputs.pet_type}}>Dog</option>
                        <option value="Cat" {{select "Cat" inputs.pet_type}}>Cat</option>
                        <option value="Others" {{select "Others" inputs.pet_type}}>Others</option>
                    </select>
                </div>
                <div id="show_type_others" class="form-group" style="margin-bottom: 20px; display: none">
                    <label for="pet_type_others">Please specify other pet type</label>
                    <input type="text" class="form-control" id="pet_type_others"
                                name="pet_type_others" placeholder="Specify pet type"
                                value="{{inputs.pet_type_others}}">
                    <p style="color: red; font-size: 13px">
                        {{errors.pet_type_others.msg}}
                    </p>
                </div>
                <div class="form-group" id="breed_div">
                    <label for="breed">Breed</label>
                     <select class="form-control" id="breed" name="breed">
                        <option value="" selected>Select breed...</option>
                    </select>
                    <p style="color: red; font-size: 13px">
                        {{errors.breed.msg}}
                    </p>
                </div>
                <div class="form-group" id="breed_others">
                    <label for="breed_others">Breed</label>
                    <input type="text" class="form-control" id="breed_others" name="breed_others" placeholder="Enter breed" value="{{inputs.breed_others}}">
                    <p style="color: red; font-size: 13px">
                        {{errors.breed_others.msg}}
                    </p>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col">
                            <label for="gender">Gender</label>
                            <select class="form-control" id="gender" name="gender" required>
                                <option value="" selected>Select gender...</option>
                                <option value="Male" {{select "Male" inputs.gender}}>Male</option>
                                <option value="Female" {{select "Female" inputs.gender}}>Female</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="weight_kg">Weight</label>
                            <div class="input-group">
                                <input type="number" class="form-control" id="weight_kg" name="weight_kg" min="0" step=".5"
                                    placeholder="Enter weight" value="{{inputs.weight_kg}}"required>
                                <div class="input-group-prepend">
                                    <div class="input-group-text">kg</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="pet_likes">Likes</label>
                    <input type="text" class="form-control" id="pet_likes" name="pet_likes" placeholder="Enter your pet likes" value="{{inputs.pet_likes}}"required>
                </div>
                <div class="form-group">
                    <label for="pet_dislikes">Dislikes</label>
                    <input type="text" class="form-control" id="pet_dislikes" name="pet_dislikes" placeholder="Enter your pet dislikes" value="{{inputs.pet_dislikes}}"required>
                </div>
                <div class="form-group">
                    <label for="pet_allergies">Allergies</label>
                    <input type="text" class="form-control" id="pet_allergies" name="pet_allergies" placeholder="Enter your pet allergies" value="{{inputs.pet_allergies}}"required>
                </div>
                <div class="form-group">
                    <label for="pet_vaccines">Vaccines</label>
                    <input type="text" class="form-control" id="pet_vaccines" name="pet_vaccines" placeholder="Enter your pet vaccines" value="{{inputs.pet_vaccines}}"required>
                </div>
                {{!-- <div class="form-group">
                    <label for="docus">Documents</label>
                    <small style="font-style:italic">(Only accepts .pdf format)</small>
                    <input type="file" class="form-control-file" id="docus" name="docus" accept="application/pdf" multiple>
                     <p style="color: red; font-size: 13px">
                        {{errors.docus.msg}}
                    </p>
                </div> --}}
                <div class="form-group">
                    <label for="status">Status</label>
                    <select class="form-control" id="status" name="status" required>
                        <option value="" selected>Select status...</option>
                        <option value="For matching" {{select "For matching" inputs.status}}>For matching</option>
                        <option value="For adoption" {{select "For adoption" inputs.status}}>For adoption</option>
                        <option value="For sale" {{select "For sale" inputs.status}}>For sale</option>
                    </select>
                </div>
                {{!-- <div class="form-group">
                    <label for="photos">Images</label>
                    <small style="font-style:italic">(Only accepts jpeg and png format)</small>
                    <input type="file" class="form-control-file" id="photos" name="photos" accept="image/jpeg, image/png" multiple>
                     <p style="color: red; font-size: 13px">
                        {{errors.photos.msg}}
                    </p>
                </div> --}}
                <button type="submit" class="btn btn-warning w-100 mt-2">Submit</button>
            </form>
        </div>
    </div>
    <div class="px-5 py-3 footer-background text-center d-flex flex-row justify-content-between align-items-center"
        style="overflow: hidden;position: fixed;bottom: 0;width: 100%;">
        <a href="/discover"><i class="nav-icon far fa-compass fa-3x"></i></a>
        <a href="/match"><img src="img/paw-outline.png" width="55vw"></a>
        <a href="/chat"><i class="nav-icon far fa-comments fa-3x"></i></a>
        <a href="/profile"><i class="nav-icon fas fa-user fa-3x"></i></a>
    </div>
</body>

<script>
    $(document).ready(function () {
        if($('#pet_type').val() == 'Others'){
            document.getElementById('show_type_others').style.display = 'block';
            document.getElementById('breed_others').style.display = 'block';
            document.getElementById('breed_div').style.display = 'none';
        } else{
            document.getElementById('show_type_others').style.display = 'none';
            document.getElementById('breed_others').style.display = 'none';
            document.getElementById('breed_div').style.display = 'block';
        }


    })

    function showTypeOthers(type){
        if(type.value == 'Others'){
            document.getElementById('show_type_others').style.display = 'block';
            document.getElementById('breed_others').style.display = 'block';
            document.getElementById('breed_div').style.display = 'none';
        } else{
            document.getElementById('show_type_others').style.display = 'none';
            document.getElementById('breed_others').style.display = 'none';
            document.getElementById('breed_div').style.display = 'block';
        }
    }

    const dog_breeds = ["Husky", "Corgi", "Aspin"]
    const cat_breeds = ["Munchkin", "British Shorthair", "Persian", "Puspin"]

    $("#pet_type").change(function(){
        var type = $('#pet_type').val()
        if(type == ""){
            $('#breed').prop("disabled", true);
        } else if(type != "Others"){
            var input_breed = `{{inputs.breed}}`
            $('#breed').prop("disabled", false);
            $('#breed').empty();
            $('#breed').append('<option value="" disabled selected>Select breed...</option>')

                if(type == "Dog"){
                    dog_breeds.forEach(function(dog){
                        if(input_breed === dog){
                            $('#breed').append(`<option value="` + dog + `" selected>` + dog + `</option>`)
                        } else {
                            $('#breed').append(`<option value="` + dog + `">` + dog + `</option>`)
                        }
                    });
                } else if (type == "Cat"){
                    cat_breeds.forEach(function(cat){
                        if(input_breed === cat){
                            $('#breed').append(`<option value="` + cat + `" selected>` + cat + `</option>`)
                        } else {
                            $('#breed').append(`<option value="` + cat + `">` + cat + `</option>`)
                        }
                    });
                }
        }
    })

    // populate breed
    var type = $('#pet_type').val()
    if(type == ""){
        $('#breed').prop("disabled", true);
    } else if(type != "Others"){
        var input_breed = `{{inputs.breed}}`
        $('#breed').prop("disabled", false);
        $('#breed').empty();
        $('#breed').append('<option value="" selected>Select breed...</option>')

            if(type == "Dog"){
                dog_breeds.forEach(function(dog){
                     if(input_breed === dog){
                        $('#breed').append(`<option value="` + dog + `" selected>` + dog + `</option>`)
                    } else {
                        $('#breed').append(`<option value="` + dog + `">` + dog + `</option>`)
                    }
                });
            } else if (type == "Cat"){
                cat_breeds.forEach(function(cat){
                    if(input_breed === cat){
                        $('#breed').append(`<option value="` + cat + `" selected>` + cat + `</option>`)
                    } else {
                        $('#breed').append(`<option value="` + cat + `">` + cat + `</option>`)
                    }
                });
            }
    }

</script>