<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <link rel="icon" href="/img/logo.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/form-validator.js"></script>
    <script src="https://kit.fontawesome.com/7e6ab4004f.js" crossorigin="anonymous"></script>

    <!-- TITLE -->
    <title>PawsForUs - Match</title>

</head>

<body>
    <div class="container-fluid p-4 body-container d-flex flex-column justify-content-start align-items-left">
        <div class="text-left d-flex justify-content-between">
            <h1 class="header-gradient">Match</h1>
            <img src="/img/profile-icon.png" class="nav-icon">
        </div>

        <div class="p-3 my-2 overflow-auto shadow" style="border-radius: 15px">
            <div class="row pb-3">
                <div class="col">
                    <div
                        style="height: 82vw; background-image: url({{data.uploads.[0].public_url}}); background-size: cover; position: relative;">
                        <h2 class="header-weight nav-icon pl-3"
                            style="color: white; position: absolute; bottom: 0; left: 0; text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);">
                            {{data.name}}</h2>
                    </div>
                </div>
            </div>
            <div style="overflow: auto; max-height: 16em;">
                <p>
                    <i class="fa-solid fa-paw"></i> <b>{{data.breed}}</b>, 3 years old <br />
                    <i class="fa-solid fa-mars"></i> <b>{{data.gender}}</b> <br />
                    <i class="fa-solid fa-compass"></i> <b>less than a mile</b> away <br />
                </p>
                <hr />

                <h4>About Me</h4>
                <p>
                    {{data.description}}
                </p>
            </div>

            <div class="d-flex justify-content-center align-items-center text-center py-2"
                style="height: 80px; border-top: 1px solid rgb(219, 219, 219);">
                <img alt="Reject icon" title="Reject" src="/img/reject.png" class="mx-1" style="max-height:70%;">
                <form method="post" id="form_match">
                    <button type="submit" class="btn" title="Match">
                        <img alt="Match icon" src="/img/logo.png" class="mx-1 w-50" style="max-height:120%;">
                    </button>
                </form>
                <!-- TODO: make a modal where the user can select their candidate pet.
                The selected pet's id will be the value of pet_id in the AJAX request below.
                Also update the avatar based on the candidate pet. -->
                <img alt="Your candidate pet's icon" src="/img/dog.png" title="Select your candidate pet" class="mx-1"
                    style="max-height:70%;">
            </div>
        </div>
    </div>
    <div class="px-5 py-3 footer-background text-center d-flex flex-row justify-content-between align-items-center"
        style="overflow: hidden;position: fixed;bottom: 0;width: 100%;">
        <a href="/discover"><i class="nav-icon far fa-compass fa-3x"></i></a>
        <a href="/match"><i class="nav-icon fas fa-paw fa-3x"></i></a>
        <a href="/chat"><i class="nav-icon far fa-comments fa-3x"></i></a>
        <a href="/profile"><i class="nav-icon far fa-user fa-3x"></i></a>
    </div>
</body>

<script>
    let myPets = [];
    const likedPetId = `{{ data._id }}`
    $.getJSON('/api/users/{{user._id}}/pets').then((data) => {
        myPets = data.data;
        console.log(myPets)
    });
    $('#form_match').on('submit', function (e) {
        e.preventDefault();
        $.post('/api/matches', {
            pet_id: myPets[0]._id,
            liked_pet_id: likedPetId
        }).then((response) => {
            console.log('submit:', response)
            if (response.meta.matchFound)
                alert(`It's a match! 🎉`)
        }).fail((xhr, text, err) => {
            const errors = xhr.responseJSON.errors;
            console.log(errors)
            alert(Object.keys(errors).map((e) => errors[e].msg).join('\n'))
        })
    })
</script>