<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <link rel="icon" href="/assets/img/logo.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="/assets/js/form-validator.js"></script>

    <!-- TITLE -->
    <title>PawsForUs - Register</title>
</head>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

    body {
        font-family: 'Inter', sans-serif !important;
    }

    .body-container {
        min-width: 50vw;
        height: 100vh;
    }

    .link-black {
        color: black !important;
    }
</style>

<body>
    <div class="container-fluid body-container d-flex flex-column justify-content-center align-items-left">
        <div class="p-4 text-center">
            <img src="/img/banner.png" style="max-width: 50vw;">
        </div>
        <div class="p-4">
            <h4>Create Account</h4>
            <form class="needs-validation" method="POST">
                <div class="form-group">
                    <label for="user_name">Your name</label>
                    <input type="text" class="form-control" id="user_name" name="user_name" value="{{input.user_name}}" placeholder="Enter name">
                    <p style="color: red; font-size: 13px">
                        {{details.user_nameError}}
                    </p>
                </div>
                <div class="form-group">
                    <label for="user_email">Email address</label>
                    <input type="email" class="form-control" id="user_email" name="user_email" aria-describedby="emailHelp"
                        placeholder="Enter email" value="{{input.user_email}}">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                    <p style="color: red; font-size: 13px">
                        {{details.user_emailError}}
                    </p>
                </div>
                <div class="form-group">
                    <label for="user_pass">Password</label>
                    <input type="password" class="form-control" id="user_pass" name="user_pass" value="{{input.user_pass}}" placeholder="Password">
                    <p style="color: red; font-size: 13px">
                        {{details.user_passError}}
                    </p>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="user_agree" name="user_agree" value="true" required>
                    <label class="form-check-label" for="user_agree">I agree to the <u>terms and
                            conditions</u></label>
                </div>
                <button type="submit" class="btn btn-warning w-100 mt-2">Log In</button>
            </form>
        </div>
        <div class="p-4 text-center">
            <a href="/" class="link-black">Already have an account? Log in.</a>
        </div>
    </div>
</body>