<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <link rel="icon" href="/img/logo.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/form-validator.js"></script>

    <!-- TITLE -->
    <title>PawsForUs - Register</title>
</head>

<body>
    <div class="container-fluid body-container d-flex flex-column justify-content-center align-items-left">
        <div class="p-4 text-center">
            <img src="/img/banner.png" style="max-width: 50vw;">
        </div>
        <div class="p-4">
            <h4>Create Account</h4>
            {{!-- Error alert --}}
            {{> error-alert errors=errors}}
            <form class="needs-validation {{#if errors}}was-validated{{/if}}" method="POST"
                oninput='password_confirmation.setCustomValidity(password_confirmation.value != password.value ? "Passwords do not match." : "")'
                novalidate>
                <div class="form-group">
                    <label for="user_name">Your name</label>
                    <input type="text" class="form-control" id="user_name" name="full_name" placeholder="Enter name"
                        value="{{inputs.full_name}}" required>
                </div>
                <div class="form-group">
                    <label for="user_email">Email address</label>
                    <input type="email" class="form-control" id="user_email" name="email" aria-describedby="emailHelp"
                        placeholder="Enter email" value="{{inputs.email}}" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                    <p style="color: red; font-size: 13px">
                        {{errors.email.msg}}
                    </p>
                </div>
                <div class="form-group">
                    <label for="user_pass">Password</label>
                    <input type="password" class="form-control" id="user_pass" name="password" placeholder="Password"
                        required>
                    <p style="color: red; font-size: 13px">
                        {{errors.password.msg}}
                    </p>
                </div>
                <div class="form-group">
                    <label for="password_confirmation">Confirm Password</label>
                    <input type="password" class="form-control" id="password_confirmation" name="password_confirmation"
                        placeholder="Confirm Password" required>
                    <p style="color: red; font-size: 13px">
                        {{errors.password_confirmation.msg}}
                    </p>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="agree_tnc" name="agree_tnc" required>
                    <label class="form-check-label" for="agree_tnc">I agree to the <u>terms and
                            conditions</u></label>
                    <p style="color: red; font-size: 13px">
                        {{errors.agree_tnc.msg}}
                    </p>
                </div>
                <button type="submit" class="btn btn-warning w-100 mt-2">Log In</button>
            </form>
        </div>
        <div class="p-4 text-center">
            <a href="/" class="link-black">Already have an account? Log in.</a>
        </div>
    </div>
</body>

<script>
    $('input[type=checkbox]').on('change', function () {
        this.value = this.checked ? 1 : 0
    }).change();
</script>